form.contact-form {
  width: 90%;
  margin: 20px auto;
}

.form-wrapper > * {
  margin: 0px auto;
}

.form-wrapper > h1 {
  text-align: center;
}

@media (min-width: 960px) {
  .form-columns {
    margin-left: 4%;
    min-height: 0px;
  }

  .form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    min-height: 50px;
  }
  .six.columns.form-input-container {
    width: 48%;
    min-height: auto;
  }

  .six.columns.form-input-container:first-child {
    margin-right: 4%;
  }
}
