html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Defined styling */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0px;
  flex-grow: 1;
}

.about-me-blurb {
  max-width: 300px;
  text-align: center;
  flex-grow: 1;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-img {
  max-width: 75px;
}

.footer {
  display: none;
}

.left-column {
  flex-direction: column;
  align-items: center;
  background-color: #242c2e;
  color: white;
}

@media (min-width: 960px){

  .left-column {
    position: fixed;
  }

  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer {
    display: block;
    padding: 20px 0px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
  }

  .footer-link {
    margin: 4%;
  }
}
