
.right-column-container {
  display: flex;
  padding: 1rem;
}

.right-column-body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.profile-content{
  max-width: 550px;
  margin: auto;
}
@media (min-width: 960px) {
  .right-column.description {
    margin-left: 34.6666666667%;
  }
}
