.footer
  h3.footer-container
    a.footer-link( href='https://github.com/FrankieFabuloso')
      i.fa.fa-github-alt
    a.footer-link( href='https://www.linkedin.com/in/rochafrancisco123/')
      i.fa.fa-linkedin-square
    a.footer-link(href='https://medium.com/@rocha.francisco123')
      i.fa.fa-medium
