.navbar-wrapper
  .navbar-container
    ul.navbar
      li.navbar-item.active
        a( href='#' )
          | Projects
      li.navbar-item
        a( href='#' )
          | Blog
      li.navbar-item
        a( href='#' )
          | About
      li.navbar-item
        a( href='#' )
          | Contact
