.navbar-wrapper
  .navbar-container
    .navbar
      .navbar-item.projects
        a( href='/' )
          | Projects
      .navbar-item.blog
        a( href='blog' )
          | Blog
      .navbar-item.about
        a( href='about' )
          | About
      .navbar-item.contact
        a( href='contact' )
          | Contact
  include aboutMe
  include footer
