.navbar-wrapper
  .navbar-container
    .navbar
      .navbar-item.active
        a( href='/' )
          | Projects
      .navbar-item
        a( href='blog' )
          | Blog
      .navbar-item
        a( href='about' )
          | About
      .navbar-item
        a( href='contact' )
          | Contact
  include aboutMe
  include footer
