.profile-container.right-column-container
  .profile.right-column-body
    .profile-content
      h1 About
      p
        img.border( src='images/frankie_sitting_v1_550_Fotor.jpg')
          
      h5 > Hello, World!
      
      p Currently an apprentice at Learners Guild – a 10 month, 40 hour per week intensive program – where I focus on shipping code on full stack applications for weekly Agile sprints. 
      
      p I’m passionate about learning cutting edge technology and intuitive logical computational systems whose architecture tells a story.
      
      p Currently working on <a href='https://github.com/strive-digital/ripple'> Ripple </a> in collaboration with <a href='http://millionhoodies.net/'> MillionHoodies </a> on a application for social organization using the <a href='https://www.twilio.com/docs/api/rest'> Twilio API</a>.
      
      p Need more info? Here's my <a href='/files/FranciscoRochaResume4-26-17_PDF_RECENT.pdf'> résumé </a>.
      
      h5 About this website
      
      ul
        li Built with <a href='https://expressjs.com/'> Express </a>
        li Hosted on <a href='https://www.heroku.com/home'> Heroku </a>
        li Views templated with <a href='https://pugjs.org/api/getting-started.html'> Pug </a>
        li Run on <a href='https://nodejs.org/en/Node.js'> Node.js </a>
        li Blog posts fetched with <a href='https://github.com/Medium/medium-api-docs'> Medium API </a>
