.profile-container.right-column-container
  .profile.right-column-body
    .profile-content
      h1 About
      p
        img.border( src='images/frankie_sitting_v1_550_Fotor.jpg')
          
      h3 Hello, World! Please hire me. 
      
      p I'm a software developer who likes to eat blocks of cheese. I also am super smarticles. I can make computues go beep bop boop boop beeeeeep clang beep boop bop bop beep kahzurp beep beep booooop.
      
      p This is a link to my resume: <strong>  resume link  </strong>
      
      h4 About this website
      
      p This website is made with technology!
      
      ul
        li Express
        li Pug
        li Node.js
