.text-container.right-column-container
  .text.right-column-body
    .projects-container.container
      a.project.socket-chat( href='https://github.com/FrankieFabuloso/SocketChat' target="_blank" )
        h3.project-title SocketChat
        p.project-description
          | Chat App with an Emoji Cypher 
        img.project-img( src='images/Socket_Chat.png' )
      a.project.coach-queue( href='https://github.com/FrankieFabuloso/coach-que' target="_blank" )
        h3.project-title Coach-Queue
        p.project-description
          | Coaching Request System
        img.project-img( src='images/coach_queue.png' )
      a.project.react-to-do-list
        h3.project-title react to do list
        p.project-description
          | Single Page React To-Do list
        img.project-img( src='' )
      a.project.prrr( href='https://github.com/FrankieFabuloso/prrr')
        h3.project-title Prrr 
        p.project-description
          | Pull Request Review Request System
        img.project-img( src='images/prrr.png' )
        
